/*Used From Foundation For Web*/
table {
  background: #FFFFFF;
  border: solid 1px #DDDDDD;
  margin-bottom: 1.11111rem;
  table-layout: auto; }
  table caption {
    background: transparent;
    color: #222222;
    font-size: 0.88889rem;
    font-weight: bold; }
  table thead {
    background: #F5F5F5; }
    table thead tr th,
    table thead tr td {
      color: #222222;
      font-size: 0.77778rem;
      font-weight: bold;
      padding: 0.44444rem 0.55556rem 0.55556rem; }
  table tfoot {
    background: #F5F5F5; }
    table tfoot tr th,
    table tfoot tr td {
      color: #222222;
      font-size: 0.77778rem;
      font-weight: bold;
      padding: 0.44444rem 0.55556rem 0.55556rem; }
  table tr th,
  table tr td {
    color: #222222;
    font-size: 0.77778rem;
    padding: 0.5rem 0.55556rem;
    text-align: left; }
  table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #F9F9F9; }
  table thead tr th,
  table tfoot tr th,
  table tfoot tr td,
  table tbody tr th,
  table tbody tr td,
  table tr td {
    display: table-cell;
    line-height: 1rem; }
