		<md-sidenav flex layout="column" class="md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')">

        <md-content class="nav-header" flex>
          <a ng-href="#/">
            <img src="/static/img/logo.svg">
            <h1>Vit Acadmics</h1>
          </a>
        </md-content>

      <md-content flex>
      	<md-list>
          <md-divider></md-divider>
      	  <md-list-item class="md-2-line" ng-repeat="menuItem in layout.leftMenu()">
      	    <md-button class="md-primary md-hue-2" layout-align="center center">{{menuItem}}</md-button>
      	  </md-list-item>
          <md-divider></md-divider>
      	</md-list>
      </md-content>

    </md-sidenav>