		<md-sidenav flex layout="column" layout-align="start"

 class="md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

        <md-content flex="50" class="nav-header width-expand">
          <a ng-click="layout.focusPage({name:'Home'})" ng-href="#/">
            <img src="/static/img/logo.svg">
            <h1>VITacademics</h1>
          </a>
        </md-content>

      <md-content flex class="width-expand">
      	<md-list>
          <md-divider></md-divider>
      	  <md-list-item class="md-2-line" ng-repeat="menuItem in layout.leftMenu()">
      	    <md-button layout-align="center center" ng-click="layout.focusPage(menuItem)" ng-href="{{menuItem.url}}">
              {{menuItem.name}}
            </md-button>
      	  </md-list-item>
          <md-list-item>
              <md-button layout-align="center center" ng-click="layout.logoutAlert($event)">
                Logout
              </md-button>
          </md-list-item>
          <md-divider></md-divider>
      	</md-list>
      </md-content>

    </md-sidenav>
