<div id="login" class="grid-block shrink align-center">
<div class="card">
<div class="grid-block vertical">
  <div class="grid-block small-vertical large-horizontal input-field">
    <div class="grid-block label-text">
      <label for="regno">Registeration No.</label>
    </div>
    <div class="grid-block input">
      <input type="text" placeholder="Enter Your Reg.No" ng-model="regno" id="regno">
    </div>
  </div>
  <div class="grid-block small-vertical large-horizontal input-field">
    <div class="grid-block label-text">
      <label for="dob">Date Of Birth</label>
    </div>
    <div class="grid-block input">
      <input type="date" placeholder="Enter Your DOB" ng-model="dob" id="dob">
    </div>
  </div>
  <div class="grid-block small-vertical large-horizontal input-field">
    <div class="grid-block label-text">
      <label for="mobile">Parent Phone Number</label>
    </div>
    <div class="grid-block input">
      <input type="number" placeholder="Enter Mobile Number" ng-model="mobile" id="mobile">
    </div>
  </div>
  <div class="grid-block small-vertical large-horizontal input-field">
    <div class="grid-block label-text">
      <label for="campus">Campus: </label>
    </div>
    <div class="grid-block input">
      <input type="radio" ng-model="campus" id="vellore" value="vellore">
      <label for="vellore">Vellore</label>
      <input type="radio" ng-model="campus" id="chennai" value="chennai">
      <label for="chennai">Chennai</label>
    </div>
  </div>
  <div class="grid-block small-horizontal input-field">
    <div class="grid-block shrink checkbox-field">
      <input type="checkbox" ng-model="remember" id="remember">
    </div>
    <div class="grid-block label-text">
      <label for="remember">Remember me<span class="show-for-medium"> on this computer</span></label>
    </div>
  </div>
  <div class="grid-block align-center">
    <div class="grid-block shrink checkbox-field">
      <button class="large primary button" type="submit" name="loginbtn" id="loginbtn" ng-click="login(regno,dob,campus,mobile,remember)">Login</button>
    </div>
  </div>
</div>
</div>
</div>
