<div class="grid-block vertical"> <!-- Improve Top Menu Bar -->
  <ul class="menu-bar dark">
    <li ui-sref-active="active"><a ng-click="loading('today')" ui-sref="today" href="">Today</a></li>
    <li ui-sref-active="active"><a ng-click="loading('login')" ui-sref="home" href="">Courses</a></li>
    <li ui-sref-active="active"><a ng-click="loading('timetable')" ui-sref="timetable" href="">Time Table</a></li>
    <li ui-sref-active="active"><a ng-click="loading('grades')" ui-sref="grades">Grades</a></li>
    <li ui-sref-active="active"><a href="#" ng-click="refresh()">Refresh</a></li>
    <li ui-sref-active="active"><a zf-open="right-menu">&#9776;</a></li>
  </ul>
</div>
