		<md-sidenav flex class="md-sidenav-right md-whiteframe-z2"
                md-component-id="right"
                md-is-locked-open="false">

      <md-toolbar class="md-primary md-hue-2 md-whiteframe-z1">
        <div class="md-toolbar-tools">
          Info
        </div>
      </md-toolbar>

      <md-content>
        <md-list>
          <div ng-repeat="menuList in layout.rightMenu()">
            <md-subheader>{{menuList.title}}</md-subheader>
            <md-list-item class="md-2-line" ng-repeat="menuItem in menuList.items">
              <md-button layout-align="center center" ng-click="layout.focusPage(menuItem)"  ng-href="{{menuItem.url}}">{{menuItem.name}}</md-button>
            </md-list-item>
            <md-divider></md-divider>
          </div>
        </md-list>
      </md-content>

    </md-sidenav>