
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
          <div flex>
            <md-button class="md-icon-button" hide-gt-sm aria-label="navigation" ng-click="layout.toggleSideBar('left')">
              <md-icon><i class="material-icons">menu</i></md-icon>
            </md-button>
          </div>
          <div flex>
            <h2>{{layout.getCurrentPage().name}}</h2>
          </div>
          <div>
            <md-button class="md-icon-button" ng-click="layout.refresh()" aria-label="refresh">
              <md-icon><i class="material-icons">refresh</i></md-icon>
            </md-button>
          </div>
          <div>
            <md-button class="md-icon-button" aria-label="navigation" ng-click="layout.toggleSideBar('right')">
              <md-icon><i class="material-icons">menu</i></md-icon>
            </md-button>
          </div>
        </div>
      </md-toolbar>
