
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
          <div flex>
            <md-button class="md-icon-button" hide-gt-md aria-label="navigation" ng-click="layout.toggleSideBar('left')">
              <md-icon md-svg-icon="./static/material-design-icons/navigation/svg/design/ic_menu_24px.svg"></md-icon>
            </md-button>
          </div>
          <div>
            <md-button class="md-icon-button" aria-label="refresh">
              <md-icon md-svg-icon="./static/material-design-icons/navigation/svg/design/ic_refresh_24px.svg"></md-icon>
            </md-button>
          </div>
          <div>
            <md-button class="md-icon-button" aria-label="navigation" ng-click="layout.toggleSideBar('right')">
              <md-icon md-svg-icon="./static/material-design-icons/navigation/svg/design/ic_menu_24px.svg"></md-icon>
            </md-button>
          </div>
        </div>
      </md-toolbar>