$primary:rgb(63,81,181);
$accent:rgb(255,64,129);
$warn:rgb(244,67,54);;

md-list .md-button {
  	width: 100%;
  	min-height: 60px;
    margin:0;
    font-weight: 600;
    font-size: 18px;
}

.md-sidenav-left {
  .nav-header a {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0 auto;
      text-decoration: none;
      img {
        height:150px;
      }
      h1 {
        color:#000;
        font-weight: 500;
        margin-bottom: 0;
        margin-top: 0;
      }
  }
}

.md-sidenav-right {
  md-list .md-button {
    font-weight: 500;
    font-size: 16px;
    min-height:45px;
  }
}


md-sidenav {
  @media (max-width:600px) {
    min-width:250px;
    max-width: 250px;
    &.md-sidenav-left .nav-header a {
      img {
        height:130px;
      }
    }
  }
}

.loginView{
  min-height:500px;
  form {
    max-width: 500px;
    margin:0 auto;
    padding:0 20px;
  }
}


.feedbackView  {
  min-height:500px;
  section {
    max-width: 500px;
    margin:0 auto;
  }
  md-input-container {
    min-height:50px;
  }
}
.loginView {
    div[ng-message] {
      left:36px;
    }
}

.aboutView {
  max-width:800px;
  margin:40px auto 0;
  .contributor {
    padding:20px;
    .contributor-container {
      width:100%;
      min-height:50px;
      .lead {
        color: rgba(0,0,0,0.87);
        font-size: 1.5em;
      }
    }
  }
}