  <md-content class="aboutView" ng-controller="aboutController as about" layout="column" layout-align="center" layout-padding>
  <section class="md-whiteframe-z2">
      <md-toolbar class="demo-toolbar md-primary md-hue-2 md-default-theme">
        <div class="md-toolbar-tools">
          <h3>Messages from The Team</h3>
        </div>
      </md-toolbar>
      <md-content layout="row" layout-padding layout-wrap>
        <section ng-repeat="message in about.messages" class="contributor" flex="100" layout="column" layout-align="center center">
          <message-server message="message"></message-server>
        </section>

      </md-content>
    </section>

    <section class="md-whiteframe-z2">
      <md-toolbar class="demo-toolbar md-primary md-hue-2 md-default-theme">
        <div class="md-toolbar-tools">
          <h3>Team Behind VITacademics</h3>
        </div>
      </md-toolbar>
      <md-content layout="row" layout-padding layout-wrap>
        <section ng-repeat="contributor in about.contributors track by contributor._id" class="contributor" flex-gt-sm="50" flex="100" layout="column" layout-align="center center">
          <contributor-info contributor="contributor"></contributor-info>
        </section>

      </md-content>
    </section>
  </md-content>
