---
name: advisor
url: /advisor
controller: advisorController
---
<div class="grid-block vertical">
  <div class="grid-block shrink" ng-include="'partials/menu.html'">

  </div>
  <div id="advisor" class="card grid-block vertical align-center">
    <div id="advisorCard" class="grid-block align-center">
      <div class="card grid-block vertical medium-6 align-center text-center">
        <p ng-repeat="(key, value) in advisor.advisor">{{key | uppercase}}: {{value}}</p>
      </div>
    </div>
  </div>
</div>
