---
name: gradesummary
url: /grades/summary
controller: gradesController
---
<div id="grades" class="grid-block vertical">
  <div class="grid-block shrink" ng-include="'partials/menu.html'">

  </div>
  <div class="grid-block small-vertical medium-horizontal">
    <div class="grid-block small-12 medium-3" ng-include="'partials/left-grades-menu.html'">

    </div>
    <div class="grades grid-block small-12 medium-9">
      <div class="grid-block small-up-1 medium-up-2 large-up-3">
        <div class="grid-block" ng-repeat="grade in grades.grade_count"> <!-- have to Make a filter here-->
          <div class="card grid-block vertical align-center text-center">
            <h5 class="lead"><span ng-hide="grade.count==0">{{grade.count}}</span><span ng-show="grade.count==0">No</span></h5>
            <h3>{{grade.grade}} grade<span ng-hide="grade.count==1">s</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
