  <md-content class="loginView" layout="column" layout-align="center">
    <div layout="column" ng-controller="loginController as login">
      <md-content layout-padding>
        <form name="login.loginForm" ng-submit="login.submit()">
          <md-input-container class="md-icon-float">
            <label>Registration Number</label>
            <md-icon><i class="material-icons">person</i></md-icon>
            <input ng-minlength="9" md-maxlength="9" required name="regno" ng-model="login.user.regno" style="text-transform:uppercase" autocomplete="off" tabindex="1">
            <div ng-messages="login.loginForm.regno.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The Registration number has to be exactly 9 digits.</div>
            </div>
            <!-- Add self checking -->
          </md-input-container>

          <md-input-container class="md-icon-float">
            <label>Date of birth</label>
            <md-icon><i class="material-icons">cake</i></md-icon>
            <input type="date" id="dob" name="dob" required ng-model="login.dob" autocomplete="off"  tabindex="2">
            <div ng-messages="login.loginForm.dob.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-icon-float">
            <label>Parent's Mobile Number</label>
            <md-icon><i class="material-icons">settings_cell</i></md-icon>
            <input type="tel" name="mobile" required ng-model="login.user.mobile" autocomplete="off" tabindex="3">
            <div ng-messages="login.loginForm.mobile.$error">
              <div ng-message="required">This is required.</div>
            </div>
            <!-- Add self checking -->
          </md-input-container>
          <md-radio-group ng-model="login.user.campus" tabindex="4">
            <md-radio-button value="vellore" class="md-primary">Vellore</md-radio-button>
            <md-radio-button value="chennai"> Chennai </md-radio-button>
          </md-radio-group>
          <md-button class="md-raised md-primary" id="login" type="submit" tabindex="5">Login</md-button>
        </form>
      </md-content>
    </div>
  </md-content>
