---
name: timeday
url: /timetable/:timeday
controller: timetableController
---
<div class="grid-block small-vertical medium-horizontal">
  <div class="grid-block small-12 medium-3" ng-include="'partials/left-menu.html'">

  </div>
  <div id="timetable" class="grid-block small-12 medium-9" ng-controller="timedayController">
    <div class="grid-container">
      <div ng-if="dayList.length>0" class="grid-block small-up-1 medium-up-1 large-up-2">
        <div ng-repeat="event in dayList | orderBy:orderByTime" class="grid-block">
          <div class="grid-block course card">
            <div class="grid-block vertical">
              <div class="grid-block">
                <div class="grid-block align-spaced">
                  <div class="grid-content text-left">
                      {{event.slot}}
                  </div>
                  <div class="grid-content text-right">
                      {{event.venue}}
                  </div>
                </div>
              </div>
              <div class="grid-block">
                <h4>{{event.course_title}}</h4>
              </div>
              <div class="grid-block">
                <div class="grid-block align-spaced">
                  <div class="grid-content text-left">
                    <span ng-class="checkAttendance(event) ">Attendance: <span>{{event.attendance.attendance_percentage | number:0}} %</span></span>
                  </div>
                  <div class="grid-content text-right shrink">
                      <span ng-repeat="time in event.timings | filter:filterByDay | limitTo:1">{{localTime(time.start_time)}} - {{localTime(time.end_time)}}</span>
                  </div>
                </div>
              </div>
              <div class="grid-block">
                <div class="grid-content text-center">
                  <a class="small button" ng-click="showUserUpdate(event)">More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="dayList.length==0" class="grid-block">
        No Classes on {{ListOfDays[index]}}
      </div>
    </div>
  </div>
</div>
