  <md-content class="aboutView" ng-controller="versionController as version" layout="column" layout-align="center" layout-padding>
  <section class="md-whiteframe-z2">
      <md-toolbar class="demo-toolbar md-primary md-hue-2 md-default-theme">
        <div class="md-toolbar-tools">
          <h3>Other VITacademics' Apps</h3>
        </div>
      </md-toolbar>
      <md-content layout="row" layout-padding layout-wrap>
        <section ng-repeat="(platform, version) in version.apps" class="contributor" flex="100" layout="column" layout-align="center center">
        <app-details platform="platform" details="version"></app-details>
        </section>

      </md-content>
    </section>
  </md-content>
