  <md-content class="aboutView" ng-controller="versionController as version" layout="column" layout-align="center" layout-padding>
  <section class="md-whiteframe-z2">
      <md-toolbar class="demo-toolbar md-primary md-hue-2 md-default-theme">
        <div class="md-toolbar-tools">
          <h3>Other Vit Academics' Apps</h3>
        </div>
      </md-toolbar>
      <md-content layout="row" layout-padding layout-wrap>
        <section ng-repeat="(platform, version) in version.apps" class="contributor" flex="100" layout="column" layout-align="center center">
          <div flex class="contributor-container md-whiteframe-z4">
            <md-content layout-padding>
              <md-subheader class="lead">{{platform | uppercase}}</md-subheader>
              <div layout="row" layout-align="center left">
                <md-subheader>Latest: {{version.latest}}</md-subheader>

                <md-button aria-label="mail" class="md-fab md-raised md-mini md-accent"
                           ng-href="{{version.link}}">
                  <md-tooltip md-direction="down">{{platform}}</md-tooltip>
                  <md-icon md-svg-src="static/material-design-icons/file/svg/design/ic_file_download_24px.svg"></md-icon>
                </md-button>
              </div>
            </md-content>
          </div>
        </section>

      </md-content>
    </section>
  </md-content>