<form (ngSubmit)="'return false;'" autocomplete="on">

  <input
    [value]="loginService.regno"
    (input)="loginService.regno = $event.target.value"
    placeholder="Registration Number"
    autofocus>
  <input
    type="number"
    [value]="loginService.mobile"
    (input)="loginService.mobile = $event.target.value"
    placeholder="Parent's Mobile Number"
    autofocus>
  <input
    type="date"
    (input)="setDate($event.target.value)"
    placeholder="Date Of Birth"
    autofocus>

  <button md-raised-button color="primary" (click)="login($event)">Login</button>
</form>
