          <div flex class="contributor-container md-whiteframe-z4">
            <md-content layout-padding>
              <md-subheader class="lead">{{:: contributor.name}}</md-subheader>
              <div layout="column" layout-align="center">
                <md-subheader flex>{{:: contributor.role}}</md-subheader> 
                <md-subheader flex>
                  <md-fab-speed-dial ng-hide="demo.hidden" md-direction="right" class="md-fling"
                                     md-open="demo.isOpen"
                                     ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false">
                    <md-fab-trigger>
                      <md-button aria-label="menu" class="md-fab md-warn">
                        <md-tooltip md-direction="top">Contact</md-tooltip>
                        <md-icon md-svg-src="./static/material-design-icons/navigation/svg/design/ic_menu_24px.svg" aria-label="menu"></md-icon>
                      </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                      <div>
                        <md-button aria-label="mail" class="md-fab md-raised md-mini md-accent"
                                   ng-href="{{'mailto:'+ contributor.email}}">
                          <md-tooltip md-direction="down">{{:: contributor.email}}</md-tooltip>
                          <md-icon md-svg-src="static/material-design-icons/content/svg/design/ic_mail_24px.svg"></md-icon>
                        </md-button>
                      </div>
                      <div>
                        <md-button aria-label="github" class="md-fab md-raised md-mini md-accent"
                                   ng-href="{{contributor.github_profile}}">
                          <md-tooltip md-direction="down">{{:: contributor.github_profile}}</md-tooltip>
                          <md-icon md-svg-src="static/material-design-icons/action/svg/design/ic_work_24px.svg"></md-icon>
                        </md-button>
                      </div>
                    </md-fab-actions>
                  </md-fab-speed-dial>
                </md-subheader>
              </div>
            </md-content>
          </div>