          <div flex class="contributor-container md-whiteframe-z4">
            <md-content layout-padding>
              <md-subheader class="lead">{{:: contributor.name}}</md-subheader>
              <div layout="column" layout-align="center">
                <md-subheader flex>{{:: contributor.role}}</md-subheader>
                <md-subheader flex>
                  <!-- TODO: Md Fab is open by default -->
                  <md-fab-speed-dial md-direction="right" class="md-fling"
                                     md-open="isopen"
                                     ng-mouseenter="isopen=true" ng-mouseleave="isopen=false">
                    <md-fab-trigger>
                      <md-button aria-label="menu" class="md-fab md-warn">
                        <md-tooltip md-direction="top">Contact</md-tooltip>
                        <md-icon aria-label="menu"><i class="material-icons">menu</i></md-icon>
                      </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                      <div>
                        <md-button aria-label="mail" class="md-fab md-raised md-mini md-accent"
                                   ng-href="{{'mailto:'+ contributor.email}}">
                          <md-tooltip md-direction="down">{{:: contributor.email}}</md-tooltip>
                          <md-icon><i class="material-icons">email</i></md-icon>
                        </md-button>
                      </div>
                      <div>
                        <md-button aria-label="github" class="md-fab md-raised md-mini md-accent"
                                   ng-href="{{contributor.github_profile}}">
                          <md-tooltip md-direction="down">{{:: contributor.github_profile}}</md-tooltip>
                          <md-icon><i class="material-icons">work</i></md-icon>
                        </md-button>
                      </div>
                    </md-fab-actions>
                  </md-fab-speed-dial>
                </md-subheader>
              </div>
            </md-content>
          </div>
